.ui-datepicker {
    background-color   : #fff;
    width              : 400px;
    z-index            : 11;
    // box-shadow      : 0 5px 10px 0 rgb(0 0 0 / 4%);
    border             : 1px solid #D7DBDD;
    border-radius      : 10px;
    padding            : 0;
    position           : relative;

    table {
        margin: 0;
    }

    // header
    .ui-datepicker-header {
        padding      : 15px 15px;
        border-bottom: 1px solid #D7DBDD;
    }

    // title 
    .ui-datepicker-title {
        color      : $h_color_1;
        font-size  : 14px;
        font-weight: 600;
        margin     : 0;
        text-align : unset;
    }

    @include xs {
        width: 82%;
    }

    thead {
        border-bottom: 1px solid #D7DBDD;
        min-height   : 58px;
    }

    th {
        span {
            color    : #8F9BB3;
            font-size: 14px;
        }
    }

    td {
        padding: 5px;

        @include xs {
            padding: 0;
        }

        span,
        a {
            display        : flex;
            align-items    : center;
            align-items    : center;
            font-size      : 15px;
            color          : $h_color_1;
            justify-content: center;
            width          : 40px;
            height         : 40px;
            border-radius  : 3px;
            margin         : 2px auto;

            @include xs {
                width : 30px;
                height: 30px;
            }

            &.ui-state-active {
                background-color: $color_2;
                color           : #fff;
            }
        }

        &.ui-state-disabled {
            opacity: 0.7;

            span,
            a {
                color: #ddd;
            }
        }

    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
        display        : flex;
        align-items    : center;
        justify-content: center;
        font-size      : 15px;
        top            : 50%;
        transform      : translateY(-50%);

        &.ui-state-disabled {
            pointer-events: none;
            opacity       : 0.5;
        }
    }

    .ui-datepicker-prev {
        right: 25px;
        left : unset;

        @include dir {
            right: unset !important;
            left : 5px !important;
        }

        &::after {

            content: url(../images/date-arrow-left.svg);
        }
    }

    .ui-datepicker-next {
        left : unset;
        right: 5px;   

        @include dir {
            left : 25px !important;
            right: unset !important;
        }

        &::after {
            content: url(../images/date-arrow-right.svg);
        }
    }
}

.full-widthdate-picker-om {
    .ui-datepicker {
        width: 100%;
    }
}