.input-om {
    height          : 60px;
    border-radius   : 15px;
    border          : solid 1px #F5F5F5;
    background-color: #F5F5F5;
    outline         : none;
    width           : 100%;
    font-size       : 14px;
    font-style      : normal;
    color           : $h_color_1;
    padding         : 13px 16px;
    transition      : 0.5s;
    display         : flex;
    align-items     : center;
    margin-bottom   : 0;

    &:focus,
    &:hover {
        border-color: $color_2;
    }

    &::placeholder {
        color: #55575D;
    }

}