.select-om {
    width        : 100% !important;
    margin-bottom: 0;

    // button
    .dropdown-toggle {
        border-radius   : 30px;
        border          : solid 1px #d7dbdd;
        background-color: #fff;
        height          : 48px;
        padding         : 13px 16px;
        font-size       : 14px;
        font-stretch    : normal;
        color           : $p_color_1;
        outline         : none !important;

        &::after {
            content               : url(../images/down_arrow.svg);
            margin                : 0;
            margin-right          : 0;
            display               : inline-block;
            vertical-align        : middle;
            border                : none !important;
            margin-top            : 0;
            margin-inline-end     : 0;
            // margin-inline-start: 12px;
        }

        .filter-option {
            margin-inline-end: 15px;

            @include dir {
                text-align: right;
            }
        }

        &:focus,
        &:active {
            background-color: #fff !important;
            border-color    : $color_2 !important;
            color           : $h_color_1 !important;
            outline         : none !important;
            box-shadow      : none !important;
        }


    }

    &.show {
        >.btn-light.dropdown-toggle {
            background-color: #fff !important;
            border-color    : $color_2 !important;
            color           : $h_color_1 !important;
            outline         : none !important;
        }
    }

    // list items
    .dropdown-menu {
        li {
            .dropdown-item {
                outline      : none !important;
                font-size    : 14px;
                color        : $h_color_1;
                border-radius: 0;

                &.active,
                &:active,
                &:hover {
                    outline         : none !important;
                    background-color: $color_2;
                    color           : #fff;
                }
            }
        }
    }
}