.submit-butt-om {
    border-radius  : 30px;
    color          : #fff;
    background     : $color_2;
    border         : none;
    justify-content: center;
    height         : 48px;
    width          : 100%;
    cursor         : pointer;
    font-size      : 16px;
    font-weight    : 500;
    transition     : 0.5s;
    margin-bottom  : 0;
    display        : flex;
    justify-content: center;
    align-items    : center;
    outline        : none;

    @include gr_background;


    &.min-width-om {
        margin    : auto;
        width     : 220px;
        @include xs {
            width: 100%;
        }
    }

}

.submit-button-wrapper-om {
    margin-top: 10px;
}