.submit-butt-om {
    border-radius  : 15px;
    color          : #fff;
    background     : $color_2;
    border         : none;
    justify-content: center;
    height         : 60px;
    width          : 100%;
    cursor         : pointer;
    font-size      : 17px;
    font-weight    : bold;
    transition     : 0.5s;
    margin-bottom  : 0;
    display        : flex;
    justify-content: center;
    align-items    : center;
    outline        : none;
    background-color: $color_1;


    &.min-width-om {
        margin    : auto;
        width     : 260px;
        @include xs {
            width: 100%;
        }
    }


    &:hover {
        background-color: rgba($color_1, 0.9);
    }

}

.submit-button-wrapper-om {
    margin-top: 10px;
}