@font-face {
    font-family: 'Almarai';
    src: url('../fonts/almarai/Almarai-Bold.woff2') format('woff2'),
        url('../fonts/almarai/Almarai-Bold.woff') format('woff'),
        url('../fonts/almarai/Almarai-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}  

@font-face {
    font-family: 'Almarai';
    src: url('../fonts/almarai/Almarai-Light.woff2') format('woff2'),
        url('../fonts/almarai/Almarai-Light.woff') format('woff'),
        url('../fonts/almarai/Almarai-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarai';
    src: url('../fonts/almarai/Almarai-ExtraBold.woff2') format('woff2'),
        url('../fonts/almarai/Almarai-ExtraBold.woff') format('woff'),
        url('../fonts/almarai/Almarai-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarai';
    src: url('../fonts/almarai/Almarai-Regular.woff2') format('woff2'),
        url('../fonts/almarai/Almarai-Regular.woff') format('woff'),
        url('../fonts/almarai/Almarai-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;  
}